@model Product
<style>
    #loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
</style>
<div id="loader" style="display:none; text-align:center;">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>
 <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>Edit Product
                                        <small>Edit product panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item">
                                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                                            <i data-feather="home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item"><a asp-action="Index">Products</a></li>
                                    <li class="breadcrumb-item active">Edit Product</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input asp-for="@Model.Id" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" data-val="true" data-val-required="Name is required." />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" id="ProductDescription" class="form-control mb-2"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Brand</label>
                                    <select asp-for="BrandId" class="form-control" asp-items="ViewBag.brands">
                                        <option value="0">Select Brand</option>
                                    </select>
                                    <span asp-validation-for="BrandId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Subcategory</label>
                                    <select asp-for="SubcategoryId" class="form-control" asp-items="ViewBag.subcategories" onchange="showCategoryName(this)">
                                        <option value="0">Select Subcategory</option>
                                    </select>
                                    <span asp-validation-for="SubcategoryId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Category Name : </label>
                                    <b><span id="categoryName">@ViewBag.CategoryName</span></b>
                                </div>
                                <div class="form-group">
                                    <label>Main Image</label>
                    <input type="file" name="MainImageFile" onchange="loadImageFile(this, event, 'imagePreview')" class="form-control" accept="image/*" />
                                    @if (!string.IsNullOrEmpty(Model.MainImage))
                                    {
                                        <img id="imagePreview" src="~/img/product/@Model.MainImage" alt="Main Image" width="200" />
                                    }
                                    <span asp-validation-for="MainImage" class="text-danger"></span>
                                </div>
                                <p style="color: crimson;">* Upload a photo in 800x800 resolution, under 1 MB, in .jpg, .png, or .jpeg format.</p>
                                
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>SKUs</h4>
                                    <button type="button" id="add-sku-btn" class="btn btn-primary">Add SKU</button>
                                </div>
                                <table class="table" id="skus-table">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Price</th>
                                            <th>Sale Price</th>
                                            <th>Quantity</th>
                                            <th>Image 1</th>
                                            <th>Image 2</th>
                                            <th>Image 3</th>
                                            <th>Image 4</th>
                                            @foreach (var item in ViewBag.AttributeList)
                                            {
                                                <th>@item.Name</th>
                                            }
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.SKUs.Count; i++)
                                        {   
                                            <input asp-for="@Model.SKUs[i].Id" type="hidden" />
                                            <input asp-for="@Model.SKUs[i].ProductId" type="hidden" />
                                            <input asp-for="@Model.SKUs[i].CreatedOn" type="hidden"  />
                                            <tr>
                                                <td>
                                                    <input asp-for="@Model.SKUs[i].SkuCode" class="form-control" data-val="true" data-val-required="Code is required." />
                                                    <span asp-validation-for="@Model.SKUs[i].SkuCode" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.SKUs[i].Price" class="form-control" data-val="true" data-val-required="Price is required." />
                                                    <span asp-validation-for="@Model.SKUs[i].Price" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.SKUs[i].SalePrice" class="form-control" />
                                                    <span asp-validation-for="@Model.SKUs[i].SalePrice" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.SKUs[i].Quantity" class="form-control" data-val="true" />
                                                    <span asp-validation-for="@Model.SKUs[i].Quantity" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input type="file" name="SKUs[@i].ImageUrl1File" class="form-control" accept="image/*" onchange="loadFile(this, event, '@("ImageUrl1_" + i)')" />
                                                    @if (!string.IsNullOrEmpty(Model.SKUs[i].ImageUrl1))
                                                    {
                                                        <img id="@("ImageUrl1_" + i)" src="~/img/product/@Model.SKUs[i].ImageUrl1" alt="Image 1" width="70" />
                                                    }
                                                    <span asp-validation-for="@Model.SKUs[i].ImageUrl1" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input type="file" name="SKUs[@i].ImageUrl2File" class="form-control" accept="image/*" onchange="loadFile(this, event, '@("ImageUrl2_" + i)')" />
                                                    @if (!string.IsNullOrEmpty(Model.SKUs[i].ImageUrl2))
                                                    {
                                                        <img id="@("ImageUrl2_" + i)" src="~/img/product/@Model.SKUs[i].ImageUrl2" alt="Image 2" width="70" />
                                                    }
                                                    <span asp-validation-for="@Model.SKUs[i].ImageUrl2" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input type="file" name="SKUs[@i].ImageUrl3File" class="form-control" accept="image/*" onchange="loadFile(this, event, '@("ImageUrl3_" + i)')"/>
                                                    @if (!string.IsNullOrEmpty(Model.SKUs[i].ImageUrl3))
                                                    {
                                                        <img id="@("ImageUrl3_" + i)" src="~/img/product/@Model.SKUs[i].ImageUrl3" alt="Image 3" width="70" />
                                                    }
                                                    <span asp-validation-for="@Model.SKUs[i].ImageUrl3" class="text-danger"></span>
                                                </td>
                                                <td>
                                                    <input type="file" name="SKUs[@i].ImageUrl4File" class="form-control" accept="image/*" onchange="loadFile(this, event, '@("ImageUrl4_" + i)')"/>
                                                    @if (!string.IsNullOrEmpty(Model.SKUs[i].ImageUrl4))
                                                    {
                                                        <img id="@("ImageUrl4_" + i)" src="~/img/product/@Model.SKUs[i].ImageUrl4" alt="Image 4" width="70" />
                                                    }
                                                    <span asp-validation-for="@Model.SKUs[i].ImageUrl4" class="text-danger"></span>
                                                </td>
                                                @for (int j = 0; j < ViewBag.AttributeList.Count; j++)
                                                {
                                                        var skuAttributeIndex = Model.SKUs[i].AttributeOptionSKUs.Select((item, index) => new { Item = item, Index = index })
                                                                            .Where(ao => ao.Item.AttributeId == ViewBag.AttributeList[j].Id).Select(x => x.Index).FirstOrDefault();
                                                                        @*var SkuAttributeOptionId = skuAttribute != null ? skuAttribute.AttributeOptionId : 0;
                                                                        var SkuId = skuAttribute != null ? skuAttribute.SkuId : 0;*@
                                                    
                                                    <td class="select-item">
                                                        <input asp-for="@Model.SKUs[i].AttributeOptionSKUs[skuAttributeIndex].SkuId" type="hidden" />
                                                        <select asp-for="@Model.SKUs[i].AttributeOptionSKUs[skuAttributeIndex].AttributeOptionId" asp-items="ViewBag.AttributeList[j].AttributeOptions" class="form-control">
                                                            <option value="0">Select @ViewBag.AttributeList[j].Name</option>
                                                        </select>
                                                        <span asp-validation-for="@Model.SKUs[i].AttributeOptionSKUs[skuAttributeIndex].AttributeOptionId" class="text-danger"></span>
                                                    </td>
                                                }
                                                <td>
                                                    <a class="remove-sku-btnn" onclick="deleteSku(@Model.SKUs[i].Id)"><i style="color:red;" class="fa fa-close"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div class="form-group text-center" style="margin-top: 5%;">
                                    <input type="submit" value="Save" class="btn btn-primary btn-lg" style="padding: 17px 50px;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <form id="deleteSkuForm" action="@Url.Action("DeleteSku", "Product", new { area = "Admin" })" method="post" style="display:none;">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" id="skuId" />
                </form>

                <!-- Container-fluid Ends-->

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.9.2/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('ProductDescription');
            $('form').on('submit', function() {
                $('#loader').show();
                $(this).find('input[type="submit"]').prop('disabled', true);
            });
        });

        function deleteSku(id) {
            if (confirm('Are you sure you want to delete this sku?')) {
                document.getElementById('skuId').value = id;
                document.getElementById('deleteSkuForm').submit();
            }
        }

        function loadFile(input, event, id) {
            const img = document.createElement('img');
            const existingImg = document.getElementById(id);
            if (existingImg) {
                existingImg.src = URL.createObjectURL(event.target.files[0]);
            } else {
                img.id = id;  
                img.width = 70; 
                img.src = URL.createObjectURL(event.target.files[0]);
                input.insertAdjacentElement('afterend', img);
            }
            document.getElementById(id).onload = function() {
              //URL.revokeObjectURL(document.getElementById(id).src)
            }
        }
        2
        function showCategoryName(selectElement) {
            var subcategoryId = selectElement.value;
            if (subcategoryId) {
                fetch(`/Admin/Product/GetCategoryNameBySubCategoryId?Id=${subcategoryId}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('categoryName').innerText = data;
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                document.getElementById('categoryName').innerText = '';
            }
        }

        document.getElementById('add-sku-btn').addEventListener('click', function () {
            var table = document.getElementById('skus-table').getElementsByTagName('tbody')[0];
            var rowCount = table.rows.length;
            var row = table.insertRow(0);//table.insertRow(rowCount);
            var attributes = @Html.Raw(Json.Serialize(ViewBag.AttributeListJson));

            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);

            var cellCnt = 8;

            cell1.innerHTML = '<input type="text" name="SKUs[' + rowCount + '].SkuCode" class="form-control" data-val="true" data-val-required="Code is required." />';
            cell2.innerHTML = '<input type="number" name="SKUs[' + rowCount + '].Price" class="form-control" data-val="true" data-val-required="Price is required." />';
            cell3.innerHTML = '<input type="number" name="SKUs[' + rowCount + '].SalePrice" class="form-control" />';
            cell4.innerHTML = '<input type="number" name="SKUs[' + rowCount + '].Quantity" class="form-control" />';
            cell5.innerHTML = '<input type="file" name="SKUs[' + rowCount + '].ImageUrl1File" class="form-control" accept="image/*" onchange="loadFile(this, event, \'ImageUrl1_' + rowCount + '\')"/>';
            cell6.innerHTML = '<input type="file" name="SKUs[' + rowCount + '].ImageUrl2File" class="form-control" accept="image/*" onchange="loadFile(this, event, \'ImageUrl2_' + rowCount + '\')"/>';
            cell7.innerHTML = '<input type="file" name="SKUs[' + rowCount + '].ImageUrl3File" class="form-control" accept="image/*" onchange="loadFile(this, event, \'ImageUrl3_' + rowCount + '\')"/>';
            cell8.innerHTML = '<input type="file" name="SKUs[' + rowCount + '].ImageUrl4File" class="form-control" accept="image/*" onchange="loadFile(this, event, \'ImageUrl4_' + rowCount + '\')"/>';

            var items = JSON.parse(attributes);

            const attributesHtml = items.map((attribute, index) => {
                var cellop = row.insertCell(cellCnt++);

                const optionsHtml = attribute.AttributeOptions
                    .map(option => '<option value="' + option.Value + '">' + option.Text + '</option>')
                    .join('');
                
                var selectHtml = '<select name="SKUs[' + rowCount + '].AttributeOptionSKUs[' + index + '].AttributeOptionId" class="form-control">'
                            + '<option value="0">Select ' + attribute.Name + '</option>'
                            + optionsHtml + '</select>';

                cellop.innerHTML = selectHtml;
                
            });

            var cell9 = row.insertCell(cellCnt);

            cell9.innerHTML = '<a class="remove-sku-btn"><i style="color:red;" class="fa fa-close"></i></a>';

            var removeButtons = document.getElementsByClassName('remove-sku-btn');
            for (var i = 0; i < removeButtons.length; i++) {
                removeButtons[i].addEventListener('click', function () {
                    if (table.rows.length == 1) {
                        alert("There must be at least one SKU in the product.");
                    } else {
                        var row = this.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                });
            }
        });
    </script>

}
