@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TamVaxti.Models.Company
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>contact</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="@Model.ContactMapUrl"
                        allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="~/assets/images/icon/phone.png"
                                     alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>@Model.ContactNumber</p>
                                <p>@Model.AlternateNumber</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>@Model.AddressLineOne</p>
                                <p>@Model.AddressLineTwo</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="~/assets/images/icon/email.png"
                                     alt="Generic placeholder image">
                                <h6>Email</h6>
                            </div>
                            <div class="media-body">
                                <p>@Model.EmailId</p>
                                <p>@Model.SupportEmailId</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>@Model.Fax</p>
                                <p></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <form action="@Url.Action("SendMessage", "ContactUs")" method="post" class="theme-form">
                    <div class="form-row row">
                        <div class="col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" maxlength="50" name="FirstName" id="firstName" placeholder="Enter Your name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" maxlength="50" name="LastName" id="lastName" placeholder="Enter Your last name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" name="Phone" maxlength="15" id="Phone" placeholder="Enter your number" required>
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="EmailId" maxlength="50" id="EmailId" placeholder="Email" required>
                        </div>
                        <div class="col-md-12">
                            <label for="message">Write Your Message</label>
                            <textarea class="form-control" name="Message" id="Message" maxlength="499" placeholder="Write Your Message" rows="6" required></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!--Section ends-->