@using Newtonsoft.Json
@model List<TamVaxti.ViewModels.Products.ProductSkuListVM>

@foreach (var product in Model)
{
    <div class="col-xl-3 col-6 col-grid-box">
        <div class="product-box">
            <div class="img-wrapper">
                <div class="front">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@product.SkuId">
                        <img src="~/img/product/@product.MainImage"
                             class="img-fluid blur-up lazyload bg-img" alt="">
                    </a>
                </div>
                <div class="back">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@product.SkuId">
                        <img src="~/img/product/@product.MainImage"
                             class="img-fluid blur-up lazyload bg-img" alt="">
                    </a>
                </div>

                <div class="cart-info cart-wrap">

                    <a href="javascript:void(0)" class="add-to-cart" title="Add to cart" data-product-id="@product.ProductId" data-sku-id="@product.SkuId">
                        <i class="ti-shopping-cart"></i>
                    </a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="javascript:void(0)" class="add-to-wishlist" data-product-id="@product.ProductId" data-sku-id="@product.SkuId" title="Add to Wishlist">
                            <i class="ti-heart" aria-hidden="true"></i>
                        </a>
                    }
                    <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View">
                        <i class="ti-search" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="product-detail">
                <div>
                    <div class="ratings">
                        @for (int i = 1; i <= 5; i++)
                                {
                                    var ratingClass = i <= @product.Rating ? "fa-star" : "fa-star-o";
                                    var colrClass = i <= @product.Rating ? "#ffa200" : "#ddd";
                                    <i class="fa @ratingClass" style="color: @colrClass" data-rating="@i"></i>
                                }
                    </div>
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@product.SkuId">
                        <h6>@product.Name</h6>
                    </a>
                    <p>@product.Description</p>
                    <h4>$@product.Price</h4>
                    <ul class="color-variant">
                        @foreach (var sku in product.RelatedSku)
                        {
                            var activeClass = sku.Color == product.Color ? "selected" : "";
                            <a class="colorl-li @activeClass"  asp-controller="Product" asp-action="Index" asp-route-id="@sku.SkuId">
                                <li class="color-circle @activeClass" style="background-color:@sku.Color" data-sku-id="@sku.SkuId"></li>
                            </a>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .colorl-li.selected {
        display: inline-block;
        border: solid 2px black;
        border-radius: 100%;
        height: 27px;
        width: 27px;
        padding: 1px;
        margin-right: 3px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        vertical-align: middle;
    }
    .color-circle{
        border: solid 2px transparent;
    }
</style>
