@model FooterVM
<!-- footer -->
<footer class="footer-light">
    <div class="light-layout">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="subscribe">
                            <div>
                                <h4>KNOW IT ALL FIRST!</h4>
                                <p>Never Miss Anything From @Model.Company.Name By Signing Up To Our Newsletter.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="@Url.Action("Subscribe", "Newsletter")" method="post" class="form-inline subscribe-form auth-form needs-validation" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                            <div class="form-group mx-sm-3">
                                <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" required>
                            </div>
                            <button type="submit" class="btn btn-solid" id="mc-submit">Subscribe</button>
                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo"><img src="~/img/@Model.Company.LogoUrl" alt="@Model.Company.Name"></div>
                       @*  <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p> *@
                        <div class="footer-social">
                            <ul>
                                <li><a href="@Model.Company.FacebookUrl" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="@Model.Company.GoogleUrl" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li>
                                    <a href="@Model.Company.XUrl" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="@Model.Company.InstagramUrl" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="@Model.Company.RssUrl" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
               @*  <div class="col offset-xl-1">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>my account</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a href="#">mens</a></li>
                                <li><a href="#">womens</a></li>
                                <li><a href="#">clothing</a></li>
                                <li><a href="#">accessories</a></li>
                                <li><a href="#">featured</a></li>
                            </ul>
                        </div>
                    </div>
                </div> *@
               @*  <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>why we choose</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a href="#">shipping & return</a></li>
                                <li><a href="#">secure shopping</a></li>
                                <li><a href="#">gallary</a></li>
                                <li><a href="#">affiliates</a></li>
                                <li><a href="#">contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div> *@
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>Contact Information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                
                                <li><i class="fa fa-phone"></i>Call Us: @Model.Company.ContactNumber</li>
                                <li><i class="fa fa-envelope"></i>Email Us: <a href="#">@Model.Company.EmailId</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>@Model.Company.AddressLineOne @Model.Company.AddressLineTwo
                                </li>
                                @*<li><i class="fa fa-fax"></i>Fax: @Model.Company.Fax</li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p>
                            <i class="fa fa-copyright" aria-hidden="true"></i> @DateTime.Now.Year Powered by
                            @Model.Company.Name
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/visa.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/mastercard.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/paypal.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/american-express.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/discover.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<!-- Add to cart bar -->
<div id="cart_side" class=" add_to_cart right">
    @await Html.PartialAsync("_SideCartPartial", Model.Cart, null)
</div>
<!-- Add to cart bar end-->
@section js{
    <script>
        initializeCart();
    </script>
}