@using Bogus
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TamVaxti.ViewModels.Products.ProductSkuListVM

@{
    var faker = new Faker();
}

<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slick">
                        @for (int i = 0; i < Model.ImageUrls.ToList().Count; i++)
                        {
                            var image = Model.ImageUrls.ToList()[i];
                            <div>
                                <img src="/img/product/@image" alt=""
                                     class="img-fluid blur-up lazyload img-zoom-cls-@i">
                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                @foreach (var image in Model.ImageUrls)
                                {
                                    <div>
                                        <img src="/img/product/@image" alt=""
                                             class="img-fluid blur-up lazyload">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>@Model.Name</h2>
                        <div class="rating-section">
                            <div class="rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    var ratingClass = i <= Model.Rating ? "fa-star" : "fa-star-o";
                                    var colrClass = i <= Model.Rating ? "#ffa200" : "#ddd";
                                    <i class="fa @ratingClass" style="color: @colrClass" data-rating="@i"></i>
                                }
                            </div>
                            @{
                                var ratingText = @Model.RatingCount > 1 ? "ratings" : "rating";
                            }
                            <h6>@Model.RatingCount @ratingText</h6>
                        </div>
                        <div class="label-section">
                            <span class="badge badge-grey-color">#1 Best seller</span>
                            <span class="label-text">in fashion</span>
                        </div>
                        <h3 class="price-detail">@ViewBag.CurrencySymbol@Model.Price @ViewBag.CurrencyRate</h3>
                        <span class="quantity-detail">@(Model.Quantity <= 0 ? "Out Of Stock" : Model.Quantity + " Left")</span>
                        <ul class="size-variant mt-3 mb-3">
                            @foreach (var sku in Model.RelatedSizes)
                            {
                                var activeClass = sku.SkuId == Model.SkuId ? "selected" : "";
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@sku.SkuId">
                                <li class="size-li @activeClass" data-sku-id="@sku.SkuId">@sku.Size</li>
                                </a>
                            }
                        </ul>
                        <ul class="color-variant">
                            @foreach (var sku in Model.RelatedSku)
                            {
                                var activeClass = sku.SkuId == Model.SkuId ? "selected" : "";
                                <a class="color-li @activeClass" asp-controller="Product" asp-action="Index" asp-route-id="@sku.SkuId">
                                <li class="color-circle @activeClass" style="background-color:@sku.Color" data-sku-id="@sku.SkuId"></li>
                                </a>
                            }
                        </ul>
                        <div class="product-buttons">
                            @if (Model.Quantity <= 0)
                            {
                                <button class="btn btn-solid hover-solid" disabled>
                                    <i class="ti-shopping-cart"></i> add to cart
                                </button>
                            }
                            else
                            {
                                <a href="javascript:void(0)" id="cartEffect" data-product-id="@Model.ProductId" data-sku-id="@Model.SkuId"
                                   class="btn btn-solid hover-solid btn-animation add-to-cart">
                                    <i class="ti-shopping-cart"></i> add to cart
                                </a>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="javascript:void(0)" class="btn btn-solid add-to-wishlist" data-product-id="@Model.ProductId" data-sku-id="@Model.SkuId">
                                    <i class="ti-heart" aria-hidden="true"></i> wishlist
                                </a>
                            }
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">shipping info</h6>
                            <ul class="shipping-info">
                                <li>100% Original Products</li>
                                <li>Pay on delivery is available</li>
                                <li>Easy 30 days returns and exchanges</li>
                            </ul>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">100% secure payment</h6>
                            <img src="/assets/images/payment.png" class="img-fluid mt-1" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">

        <div class="col-sm-12 col-lg-12">
            <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab"
                       href="#top-home" role="tab" aria-selected="true">
                        <i class="icofont icofont-ui-home"></i>Details
                    </a>
                    <div class="material-border"></div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="review-top-tab" data-bs-toggle="tab"
                       href="#top-review" role="tab" aria-selected="false">
                        <i class="icofont icofont-contacts"></i>Write Review
                    </a>
                    <div class="material-border"></div>
                </li>

            </ul>
            <div class="tab-content nav-material" id="top-tabContent">
                <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                     aria-labelledby="top-home-tab">
                    <div class="product-tab-discription">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
                <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                    <div class="row mb-3">
                        <ul class="comment-section">
                            @if (Model.ProductReview != null && Model.ProductReview.Any())
                            {
                                foreach (var pr in Model.ProductReview)
                                {
                                    var nameParts = pr.CustomerName.Split(' ');
                                    var initials = nameParts.Length > 1
                                    ? $"{nameParts[0][0]}{nameParts[1][0]}"
                                    : $"{nameParts[0][0]}";

                                    <li class="media mb-3" style="display: flex; align-items: center;">
                                        <div class="initial-avatar" data-name="@initials" style=" width: 64px; height: 64px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 24px; color: #ffffff; font-weight: bold; margin-right: 10px;">
                                            @initials
                                        </div>
                                        <div class="media-body">
                                            <h6>@pr.CustomerName <span>( @pr.ReviewDate.ToString("dd MMM yyyy") )</span></h6>
                                            <div class="rating">
                                                @for (var i = 1; i <= 5; i++)
                                                {
                                                    if (i <= pr.Rating)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                            <p>@pr.ReviewDescription</p>
                                        </div>
                                    </li>

                                }
                            }
                            else
                            {
                                <li>No Reviews yet.</li>
                            }

                        </ul>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="theme-form" action="@Url.Action("AddProductReview", "Product")" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@Model.ProductId" name="ProductId" />
                            <input type="hidden" value="@Model.SkuId" name="SkuId" />
                            <div class="form-row row">
                                <div class="col-md-12">
                                    <div class="media mb-3">
                                        <label style="margin-right:15px;">Rating</label>
                                        <div class="star-rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <i class="fa fa-star-o" data-rating="@i"></i>
                                            }
                                        </div>
                                        <input type="hidden" name="Rating" class="rating-value" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="review">Review Description</label>
                                    <input type="text" class="form-control" name="ReviewDescription"
                                           placeholder="Enter your Review" required>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-solid" type="submit" id="add-review-btn">
                                        Submit Your
                                        Review
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- product-tab ends -->

<script>
    document.getElementById('add-review-btn').addEventListener('click', function (event) {
        var ratingValue = document.querySelector('.rating-value').value;
        if (!ratingValue) {
            event.preventDefault();
            alert('Please select a rating.');
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        var stars = document.querySelectorAll('.star-rating .fa');
        stars.forEach(function (star) {
            star.addEventListener('click', function () {
                var rating = this.getAttribute('data-rating');
                document.querySelector('.rating-value').value = rating;
                stars.forEach(function (s) {
                    if (s.getAttribute('data-rating') <= rating) {
                        s.classList.remove('fa-star-o');
                        s.classList.add('fa-star');
                    } else {
                        s.classList.remove('fa-star');
                        s.classList.add('fa-star-o');
                    }
                });
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.querySelectorAll('.initial-avatar');
        elements.forEach(function (element) {
            var name = element.getAttribute('data-name');
            var colors = ['#FF5733', '#33FF57', '#3357FF', '#F1C40F', '#8E44AD', '#2980B9'];
            var color = colors[Math.floor(Math.random() * colors.length)];

            element.style.backgroundColor = color;
            element.style.width = "64px";
            element.style.height = "64px";
            element.style.borderRadius = "50%";
            element.style.display = "flex";
            element.style.alignItems = "center";
            element.style.justifyContent = "center";
            element.style.fontSize = "24px";
            element.style.color = "#ffffff";
            element.style.fontWeight = "bold";
            element.style.marginRight = "10px";

            element.textContent = name;
        });
    });</script>
<style>
    .star-rating .fa {
        font-size: 24px;
        cursor: pointer;
    }

    .star-rating .fa-star {
        color: #ffa200;
    }

    .star-rating .fa-star-o {
        color: #ddd;
    }

    .size-li.selected {
        background-color: #dbdada;
        color: black;
    }

    .size-li {
        border: solid 2px #dbdada;
        padding: 5px 10px;
        width: auto;
        color: black;
        display: inline-block;
        border-radius: 5%;
        margin-right: 5px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        vertical-align: middle;
    }

    .quantity-detail {
        font-size: 13px;
        background: wheat;
        padding: 1px 5px;
    }

    .color-li.selected {
        display: inline-block;
        border: solid 2px black;
        border-radius: 100%;
        height: 39px;
        width: 39px;
        padding: 3px;
        margin-right: 5px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
        vertical-align: middle;
    }

    .color-circle {
        border: solid 2px transparent;
    }

    .checked {
        color: orange;
    }
</style>