@model IEnumerable<BasketVM>

<table class="table cart-table">
    <thead>
        <tr class="table-head">
            <th scope="col">image</th>
            <th scope="col">product name</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
            <th scope="col">action</th>
            <th scope="col">total</th>
        </tr>
    </thead>

    @foreach (var cartItem in Model)
    {
        <tbody>
            <tr>
                <td>
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.Product.SkuId"><img src="/img/product/@cartItem.Product.MainImage" alt=""></a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.Product.SkuId">@cartItem.Product.Name</a>
                    <div class="mobile-cart-content row">
                        <div class="col">
                            <div class="qty-box">
                                <div class="input-group">
                                    <input type="text" name="quantity" class="form-control input-number cart-product-counter"
                                           value="@cartItem.Quantity" data-product-id="@cartItem.Product.ProductId" data-sku-id="@cartItem.Product.SkuId">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h2 class="td-color">@ViewBag.CurrencySymbol@(cartItem.Product.SalePrice > 0 ? cartItem.Product.SalePrice : cartItem.Product.Price)
                                @if(cartItem.Product.SalePrice > 0){
                                    <del>@ViewBag.CurrencySymbol@cartItem.Product.Price</del>
                                }
                            </h2>
                        </div>
                        <div class="col">
                            <h2 class="td-color">
                                <a href="#" class="icon"><i class="ti-close"></i></a>
                            </h2>
                        </div>
                    </div>
                </td>
                <td>
                    <h2>@ViewBag.CurrencySymbol@(cartItem.Product.SalePrice > 0 ? cartItem.Product.SalePrice : cartItem.Product.Price)
                        @if(cartItem.Product.SalePrice > 0){
                            <del>@ViewBag.CurrencySymbol@cartItem.Product.Price</del>
                        }
                    </h2>
                </td>
                <td>
                    <div class="qty-box">
                        <div class="input-group">
                            <input type="number" name="quantity" class="form-control input-number cart-product-counter" data-product-id="@cartItem.Product.ProductId" data-sku-id="@cartItem.Product.SkuId"
                                   value="@cartItem.Quantity" min="1" max="10">
                        </div>
                    </div>
                </td>
                <td>
                    <a href="#" class="remove-from-cart" data-product-id="@cartItem.Product.ProductId" data-sku-id="@cartItem.Product.SkuId">
                        <i class="ti-close"></i>
                    </a>
                </td>
                <td>
                    <h2 class="td-color">@ViewBag.CurrencySymbol@cartItem.SubTotal</h2>
                </td>
            </tr>
        </tbody>
    }
</table>
<div class="table-responsive-md">
    <table class="table cart-table ">
        <tfoot>
            <tr>
                <td>total price :</td>
                <td>
                    <h2>@ViewBag.CurrencySymbol@Model.Sum(x => x.SubTotal)</h2>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
